<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="#"><i class="fa-brands fa-facebook-f soc"></i></a>
            <a href="#"><i class="fa-brands fa-twitter soc"></i></a>
            <a href="#"><i class="fa-brands fa-instagram soc"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin soc"></i></a>
        </div>
        <div class="f-info-copyright">
            <p>&copy; 2025 WanderLust. All rights reserved.</p>
        </div>
        <div class="f-info-links">
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Service</a>
            <a href="#">Contact Us</a>
        </div>
    </div>
</footer>
