<% layout('/layouts/boilerplate') %>

<body>
    <!-- <form action="/listings/new" method="GET">
        <button type="submit">Create New Listing</button>
    </form method> -->
    <% for(let listing of listings) { %>
       <ul>
        <li><a href="/listings/<%= listing._id %>"><%= listing.title %></a></li>
       </ul>
    <% } %>

    <%- include('../includes/footer.ejs') %>

</body>
