<% layout('/layouts/boilerplate') %>

<body>
    
    <div class="row mt-3" >
        <br><br>
        <div class="col-8 offset-2">
            <h3>Create New Listing</h3>
            <form action="/listings" method="POST" class="needs-validation" novalidate enctype="multipart/form-data">
                <div class="mb-2">
                    <label for="title" class="form-label">Title:</label>
                    <input type="text" id="title" name="listing[title]" class="form-control" placeholder="Add a catchy Title" required>
                    <div class="invalid-feedback">Please provide a title.</div>
                </div>

                <div class="mb-2">
                    <label for="description" class="form-label">Description:</label>
                    <textarea id="description" name="listing[description]" class="form-control" required placeholder="Add a detailed description"></textarea>
                    <div class="invalid-feedback">Please provide a description.</div>
                </div>
                <div>
                    <label for="image" class="form-label">Upload Image:</label>
                    <input type="file" id="imageFilename" name="listing[image]" class="form-control">
                </div>

                <div class="row">
                    <div class="mb-2 col-md-4">
                        <label for="price" class="form-label">Price:</label>
                        <input  id="price" name="listing[price]" class="form-control" required >
                        <div class="invalid-feedback">Please provide a valid price.</div>
                    </div>

                    <div class="mb-2 col-md-8">
                        <label for="location" class="form-label">Location:</label>
                        <input type="text" id="location" name="listing[location]" class="form-control" required>
                        <div class="invalid-feedback">Please provide a location.</div>
                    </div>
                </div>

                <div class="mb-2">
                    <label for="country" class="form-label">Country:</label>
                    <input type="text" id="country" name="listing[country]" class="form-control" required>
                    <div class="invalid-feedback">Country should be valid.</div>
                </div> 

                <button type="submit" class="btn btn-dark add-btn">Add</button>
            </form>
        </div>
    </div>

    <%- include('../includes/footer.ejs') %>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (() => {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
        })()
    </script>
</body>